In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import os
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn import preprocessing

In [2]:
#Import files
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [100]:
#Read file
#file_path = Path('../heart_attack_final_table.csv')
file_path = Path('../Resources/heart_attack_final_table.csv')
df = pd.read_csv(file_path)

df.head()

,id,asthma_age,ever_overweight,heart_failure_age,age_chronic_heart_disease,angina_pectoris_age,heart_attack_age,stroke_age,thyroid_age,liver_age,...,100_Cigarettes,age,gender_female,gender_male,race_asian,race_black,race_mexican_american,race_other,race_other_hispanic,race_white
0,109266.0,0.0,1,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0,29.0,1,0,1,0,0,0,0,0
1,109274.0,0.0,1,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0,68.0,0,1,0,0,0,1,0,0
2,109292.0,52.0,0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0,58.0,0,1,0,0,0,0,1,0
3,109297.0,0.0,0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0,30.0,1,0,1,0,0,0,0,0
4,109307.0,0.0,0,0.0,0.0,42.0,NaN,0.0,0.0,0.0,...,1,47.0,0,1,1,0,0,0,0,0

In [101]:
df.info

<bound method DataFrame.info of             id  asthma_age  ever_overweight  heart_failure_age  \
0     109266.0         0.0                1                0.0
1     109274.0         0.0                1                0.0
2     109292.0        52.0                0                0.0
3     109297.0         0.0                0                0.0
4     109307.0         0.0                0                0.0
...        ...         ...              ...                ...
5473  124815.0         0.0                0                0.0
5474  124817.0         0.0                1                0.0
5475  124818.0         0.0                1                0.0
5476  124821.0        58.0                0                0.0
5477  124822.0         0.0                0                0.0

      age_chronic_heart_disease  angina_pectoris_age  heart_attack_age  \
0                           0.0                  0.0               NaN
1                           0.0                  0.0               NaN
2                           0.0                  0.0               NaN
3                           0.0                  0.0               NaN
4                           0.0                 42.0               NaN
...                         ...                  ...               ...
5473                        0.0                  0.0               NaN
5474                        0.0                  0.0               NaN
5475                        0.0                  0.0               NaN
5476                        0.0                  0.0               NaN
5477                        0.0                  0.0              70.0

      stroke_age  thyroid_age  liver_age  ...  100_Cigarettes   age  \
0            0.0          0.0        0.0  ...               0  29.0
1            0.0          0.0        0.0  ...               0  68.0
2            0.0          0.0        0.0  ...               0  58.0
3            0.0          0.0        0.0  ...               0  30.0
4            0.0          0.0        0.0  ...               1  47.0
...          ...          ...        ...  ...             ...   ...
5473         0.0          0.0        0.0  ...               1  52.0
5474         0.0         65.0       64.0  ...               0  67.0
5475         0.0          0.0        0.0  ...               0  40.0
5476         0.0          0.0        0.0  ...               0  63.0
5477         0.0          0.0        0.0  ...               0  74.0

      gender_female  gender_male  race_asian  race_black  \
0                 1            0           1           0
1                 0            1           0           0
2                 0            1           0           0
3                 1            0           1           0
4                 0            1           1           0
...             ...          ...         ...         ...
5473              0            1           0           1
5474              1            0           0           0
5475              0            1           0           1
5476              0            1           0           1
5477              0            1           0           0

      race_mexican_american  race_other  race_other_hispanic  race_white
0                         0           0                    0           0
1                         0           1                    0           0
2                         0           0                    1           0
3                         0           0                    0           0
4                         0           0                    0           0
...                     ...         ...                  ...         ...
5473                      0           0                    0           0
5474                      1           0                    0           0
5475                      0           0                    0           0
5476                      0           0                    0           0
5477                      0           0                    1           0

[5478 rows x 53 columns]>

In [102]:
# def replace_NaN(x):return x.fillna(1)
df.fillna(0, inplace=True)

In [103]:
X = df.copy()
X = X.drop(columns='id')
# X.drop('heart_attack_age', axis=1, inplace=True)
X.head()

,asthma_age,ever_overweight,heart_failure_age,age_chronic_heart_disease,angina_pectoris_age,heart_attack_age,stroke_age,thyroid_age,liver_age,fatty_liver,...,100_Cigarettes,age,gender_female,gender_male,race_asian,race_black,race_mexican_american,race_other,race_other_hispanic,race_white
0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,29.0,1,0,1,0,0,0,0,0
1,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,68.0,0,1,0,0,0,1,0,0
2,52.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,58.0,0,1,0,0,0,0,1,0
3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,30.0,1,0,1,0,0,0,0,0
4,0.0,0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0,...,1,47.0,0,1,1,0,0,0,0,0

In [14]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df['heart_attack_age']

# Separate the X variable, the features
X = df.drop(columns='heart_attack_age', axis=1)

In [106]:
# Review the y variable Series
y.head()

0    0
1    0
2    0
3    0
4    0
Name: heart_attack, dtype: int64

In [124]:
# Review the x variable Series
X.head()

,id,asthma_age,ever_overweight,heart_failure_age,age_chronic_heart_disease,angina_pectoris_age,stroke_age,thyroid_age,liver_age,fatty_liver,...,100_Cigarettes,age,gender_female,gender_male,race_asian,race_black,race_mexican_american,race_other,race_other_hispanic,race_white
0,109266.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,29.0,1,0,1,0,0,0,0,0
1,109274.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,68.0,0,1,0,0,0,1,0,0
2,109292.0,52.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,58.0,0,1,0,0,0,0,1,0
3,109297.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,30.0,1,0,1,0,0,0,0,0
4,109307.0,0.0,0,0.0,0.0,42.0,0.0,0.0,0.0,0,...,1,47.0,0,1,1,0,0,0,0,0

In [15]:
# Review the X variable DataFrame
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1e7)

In [16]:
# Check the balance of our target values
y.value_counts()

0.0     5283
55.0      10
80.0       9
60.0       9
47.0       8
59.0       8
40.0       8
52.0       7
61.0       6
54.0       6
56.0       6
49.0       6
50.0       6
58.0       6
53.0       5
45.0       5
42.0       5
48.0       4
51.0       4
72.0       4
37.0       4
35.0       4
33.0       4
62.0       4
65.0       4
68.0       3
64.0       3
26.0       3
70.0       3
63.0       3
44.0       3
43.0       3
16.0       3
46.0       2
41.0       2
69.0       2
36.0       2
73.0       2
67.0       2
75.0       2
57.0       2
74.0       2
71.0       1
77.0       1
38.0       1
30.0       1
34.0       1
79.0       1
32.0       1
21.0       1
39.0       1
29.0       1
19.0       1
Name: heart_attack_age, dtype: int64

In [17]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [18]:
# Display y train (counts)
y_train.value_counts()

0.0     3963
80.0       8
60.0       8
55.0       7
47.0       7
61.0       6
54.0       6
59.0       5
45.0       5
50.0       5
40.0       5
42.0       4
72.0       4
52.0       4
51.0       4
58.0       4
56.0       3
68.0       3
43.0       3
62.0       3
48.0       3
33.0       3
70.0       3
53.0       2
57.0       2
35.0       2
67.0       2
44.0       2
37.0       2
74.0       2
69.0       2
63.0       2
49.0       2
65.0       2
26.0       2
75.0       2
30.0       1
64.0       1
21.0       1
16.0       1
41.0       1
38.0       1
19.0       1
79.0       1
34.0       1
32.0       1
29.0       1
73.0       1
77.0       1
36.0       1
46.0       1
39.0       1
Name: heart_attack_age, dtype: int64

In [19]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model using training data
logistic_regression_model = logistic_regression_model.fit(X_train, y_train)

C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
# Make a prediction using the testing data
testing_prediction = logistic_regression_model.predict(X_test)

In [21]:
# Print the balanced_accuracy score of the model
print(f"Training Data Score: {logistic_regression_model.score(X_train, y_train)}")
print(f"Testing Data Score: {logistic_regression_model.score(X_test, y_test)}")

Training Data Score: 0.9776046738072055
Testing Data Score: 0.9627737226277372

In [135]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9647030185004869
Testing Data Score: 0.9635036496350365

In [22]:
# Generate a confusion matrix for the model: 
from sklearn.metrics import confusion_matrix

In [23]:
# Print the classification report for the model
ros_testing_report = classification_report(y_test, testing_prediction)

print(ros_testing_report)

              precision    recall  f1-score   support

         0.0       0.98      1.00      0.99      1320
        16.0       0.00      0.00      0.00         2
        26.0       0.00      0.00      0.00         1
        33.0       0.00      0.00      0.00         1
        35.0       0.00      0.00      0.00         2
        36.0       0.00      0.00      0.00         1
        37.0       0.00      0.00      0.00         2
        40.0       0.00      0.00      0.00         3
        41.0       0.00      0.00      0.00         1
        42.0       0.00      0.00      0.00         1
        44.0       0.00      0.00      0.00         1
        45.0       0.00      0.00      0.00         0
        46.0       0.00      0.00      0.00         1
        47.0       0.00      0.00      0.00         1
        48.0       0.00      0.00      0.00         1
        49.0       0.00      0.00      0.00         4
        50.0       0.00      0.00      0.00         1
        51.0       0.00      0.00      0.00         0
        52.0       0.00      0.00      0.00         3
        53.0       0.00      0.00      0.00         3
        55.0       0.00      0.00      0.00         3
        56.0       0.00      0.00      0.00         3
        58.0       0.00      0.00      0.00         2
        59.0       0.00      0.00      0.00         3
        60.0       0.00      0.00      0.00         1
        61.0       0.00      0.00      0.00         0
        62.0       0.00      0.00      0.00         1
        63.0       0.00      0.00      0.00         1
        64.0       0.00      0.00      0.00         2
        65.0       0.00      0.00      0.00         2
        67.0       0.00      0.00      0.00         0
        68.0       0.00      0.00      0.00         0
        70.0       0.00      0.00      0.00         0
        71.0       0.00      0.00      0.00         1
        72.0       0.00      0.00      0.00         0
        73.0       0.00      0.00      0.00         1
        74.0       0.00      0.00      0.00         0
        80.0       0.00      0.00      0.00         1

    accuracy                           0.96      1370
   macro avg       0.03      0.03      0.03      1370
weighted avg       0.94      0.96      0.95      1370

C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [3]:
path = Path('../Resources/heart_attack_final_table.csv')
df = pd.read_csv(path)

df.head()

,id,asthma_age,ever_overweight,heart_failure_age,age_chronic_heart_disease,angina_pectoris_age,heart_attack_age,stroke_age,thyroid_age,liver_age,...,100_Cigarettes,age,gender_female,gender_male,race_asian,race_black,race_mexican_american,race_other,race_other_hispanic,race_white
0,109266.0,0.0,1,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0,29.0,1,0,1,0,0,0,0,0
1,109274.0,0.0,1,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0,68.0,0,1,0,0,0,1,0,0
2,109292.0,52.0,0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0,58.0,0,1,0,0,0,0,1,0
3,109297.0,0.0,0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0,30.0,1,0,1,0,0,0,0,0
4,109307.0,0.0,0,0.0,0.0,42.0,NaN,0.0,0.0,0.0,...,1,47.0,0,1,1,0,0,0,0,0

In [4]:
df = df.drop(columns='id')
df.fillna(0, inplace = True)

df.head()

,asthma_age,ever_overweight,heart_failure_age,age_chronic_heart_disease,angina_pectoris_age,heart_attack_age,stroke_age,thyroid_age,liver_age,fatty_liver,...,100_Cigarettes,age,gender_female,gender_male,race_asian,race_black,race_mexican_american,race_other,race_other_hispanic,race_white
0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,29.0,1,0,1,0,0,0,0,0
1,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,68.0,0,1,0,0,0,1,0,0
2,52.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,58.0,0,1,0,0,0,0,1,0
3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,30.0,1,0,1,0,0,0,0,0
4,0.0,0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0,...,1,47.0,0,1,1,0,0,0,0,0

In [5]:
y = df['heart_attack_age']
X = df.drop(columns='heart_attack_age')

y

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
5473     0.0
5474     0.0
5475     0.0
5476     0.0
5477    70.0
Name: heart_attack_age, Length: 5478, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(4108, 51)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=500,
                                random_state=1)
classifier

LogisticRegression(max_iter=500, random_state=1)

In [8]:
classifier.fit(X_train, y_train)

C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=500, random_state=1)

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9975657254138267
Testing Data Score: 0.9642335766423358

In [10]:
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0         0.0     0.0
1         0.0     0.0
2         0.0     0.0
3         0.0     0.0
4         0.0     0.0
5         0.0     0.0
6         0.0     0.0
7         0.0     0.0
8         0.0     0.0
9         0.0     0.0

In [11]:
from sklearn.metrics import accuracy_score
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

0.9642335766423358

In [13]:
# Print the classification report for the model
ros_testing_report = classification_report(y_test, predictions)

print(ros_testing_report)

              precision    recall  f1-score   support

         0.0       0.99      1.00      1.00      1320
        16.0       0.00      0.00      0.00         2
        26.0       0.00      0.00      0.00         1
        33.0       0.00      0.00      0.00         1
        35.0       0.00      0.00      0.00         2
        36.0       0.00      0.00      0.00         1
        37.0       0.00      0.00      0.00         2
        40.0       0.00      0.00      0.00         3
        41.0       0.00      0.00      0.00         1
        42.0       0.00      0.00      0.00         1
        44.0       0.00      0.00      0.00         1
        45.0       0.00      0.00      0.00         0
        46.0       0.00      0.00      0.00         1
        47.0       0.25      1.00      0.40         1
        48.0       0.00      0.00      0.00         1
        49.0       0.00      0.00      0.00         4
        50.0       0.00      0.00      0.00         1
        51.0       0.00      0.00      0.00         0
        52.0       0.00      0.00      0.00         3
        53.0       0.00      0.00      0.00         3
        54.0       0.00      0.00      0.00         0
        55.0       0.00      0.00      0.00         3
        56.0       0.00      0.00      0.00         3
        58.0       0.00      0.00      0.00         2
        59.0       0.00      0.00      0.00         3
        60.0       0.00      0.00      0.00         1
        61.0       0.00      0.00      0.00         0
        62.0       0.00      0.00      0.00         1
        63.0       0.00      0.00      0.00         1
        64.0       0.00      0.00      0.00         2
        65.0       0.00      0.00      0.00         2
        67.0       0.00      0.00      0.00         0
        68.0       0.00      0.00      0.00         0
        71.0       0.00      0.00      0.00         1
        72.0       0.00      0.00      0.00         0
        73.0       0.00      0.00      0.00         1
        74.0       0.00      0.00      0.00         0
        80.0       0.00      0.00      0.00         1

    accuracy                           0.96      1370
   macro avg       0.03      0.05      0.04      1370
weighted avg       0.96      0.96      0.96      1370

C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mmkat\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))